# Thư viện xử lý âm thanh
numpy==1.21.1
scipy==1.7.3
PyAudio==0.2.11

# Thư viện xử lý hình ảnh
Pillow==9.5.0

# Thư viện kết nối mạng
requests==2.28.2
websocket-client==1.5.1

# Các công cụ tiện ích
python-dotenv==1.0.0

# Camera cho Raspberry Pi
picamera==1.13.0; sys_platform == 'linux'